.container {
    height: 100vh;
    background: linear-gradient(180deg, rgb(255, 158, 13) 0%, rgba(241, 227, 30, 0.733) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stcik {
    background: brown;
    width: 10px;
    height: 450px;
    position: absolute;
    z-index: 1;
    border-radius: 50px 0px;
}

.leaf {
    width: 200px;
    height: 200px;
    border-radius: 0 100%;
    transform: rotate(0deg);
    background: linear-gradient(180deg, rgb(19, 151, 19) 0%, lightgreen 100%);
    position: absolute;
    left: 465px;
    top: 150px;
}

.leaf2 {
    width: 200px;
    height: 200px;
    border-radius: 0 100%;
    transform: rotate(-80deg);
    background: linear-gradient(180deg, rgb(19, 151, 19) 0%, lightgreen 100%);
    position: absolute;
    right: 450px;
}

.line,
.line2 {
    background: rgba(0, 255, 0, 0.178);
    width: 2px;
    height: 200px;
    transform: rotate(136deg);
    position: absolute;
    z-index: 1;
    left: 100px;
}